<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ryo Nicholas Reinaldo" />
    <meta name="keywords" content="salon, perawatan tubuh, potong rambut, potong rambut murah, potong rambut terbaik, potong rambut ramah di kantong, shinta salon, sungailiat, potong rambut di sungailiat" />
    <meta name="description" content="Shinta salon adalah salah satu salon yang bisa menjadi pilihan bagi anda, dimana tidak hanya omongan belaka tapi hasil yang akan berbicara mengenai perawatan yang dihasilkan" />
    <title>Testimonials Shinta Salon</title>
    <!-- reset css -->
    <link rel="stylesheet" href="style/reset.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="style/main.css" />
    <!-- google font -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Assistant&family=Playfair+Display&display=swap");
    </style>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/4bf12d8317.js" crossorigin="anonymous"></script>
    <!-- aosjs -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body style="height: 1vh">
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center">
          <a class="navbar-brand" href="/">
            <a class="navbar-brand" href="/"> <p class="nav-brand">Shinta Salon</p></a>
          </a>
          <p class="text-center text-testimonial">Kami akan menampilkan review sesuai yang diberikan</p>
        </nav>
        <hr class="nav-hr" />
      </div>
    </header>

    <main>
      <div class="container testimonials-container">
        <div class="row">
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Michael+Marvel/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Michael Marvel</h5>
                <h6 class="card-subtitle mb-2 text-muted">@michaelmarvel</h6>
                <br />
                <p class="card-text">Saya sangat senang dengan pelayanan yang diterima di salon ini. Stafnya sangat ramah dan profesional, mereka selalu siap untuk memberikan saran dan dukungan untuk mencapai hasil yang diinginkan.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Jackson+Alvero/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Jackson Alvero</h5>
                <h6 class="card-subtitle mb-2 text-muted">@jacksonal</h6>
                <br />
                <p class="card-text">Sebagai pelanggan setia dari salon ini, saya sangat puas dengan layanan yang diberikan. Staf yang ramah dan profesional selalu membuat saya merasa nyaman selama proses perawatan.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Florencia+Angelica/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Florencia Angelica</h5>
                <h6 class="card-subtitle mb-2 text-muted">@florencia11</h6>
                <br />
                <p class="card-text">
                  Saya baru saja mengunjungi salon ini dan sangat senang dengan pengalaman yang saya dapatkan. Pelayanannya sangat baik dan profesional. Stafnya sangat ramah dan membuat saya merasa nyaman selama proses perawatan.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Soe+Ing/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Soe Ing</h5>
                <h6 class="card-subtitle mb-2 text-muted">@soeing12</h6>
                <br />
                <p class="card-text">
                  Salon ini selalu bersih dan rapi, dan saya merasa aman mengetahui bahwa mereka menggunakan peralatan yang steril dan berkualitas tinggi. Sayangnya, harga yang ditawarkan cukup mahal, tapi saya merasa itu sepadan dengan
                  kualitas layanan yang diterima.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Billy+Turangga/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Billy Turangga</h5>
                <h6 class="card-subtitle mb-2 text-muted">@billyjose12</h6>
                <br />
                <p class="card-text">
                  Saya sangat merekomendasikan salon ini kepada siapa saja yang mencari perawatan rambut berkualitas tinggi dengan pelayanan yang baik. Saya akan selalu kembali ke sini untuk perawatan rambut saya di masa depan.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Josephine+Aurilia/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Josephine Aurilia</h5>
                <h6 class="card-subtitle mb-2 text-muted">@aurili11</h6>
                <br />
                <p class="card-text">Saya baru saja mengunjungi salon ini dan sangat senang dengan pelayanan yang diterima. Staf yang ramah dan profesional selalu siap untuk membantu dan memberikan saran yang baik.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Yory/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Yory</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ayor21</h6>
                <br />
                <p class="card-text">Saya sangat senang dengan layanan yang diberikan di salon ini. Stafnya sangat profesional dan ramah, mereka benar-benar memperhatikan kebutuhan saya dan memberikan saran yang baik untuk rambut saya.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Asian/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Asian</h5>
                <h6 class="card-subtitle mb-2 text-muted">@asian21</h6>
                <br />
                <p class="card-text">Saya sangat terkesan dengan layanan yang diterima. Stafnya sangat ramah dan profesional, dan mereka benar-benar mengerti apa yang saya inginkan dari hasil rambut saya.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-2">
            <div class="card">
              <div class="card-body">
                <img src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/Alim/60/fff/000" alt="image-avatar" loading="lazy" style="float: left; border-radius: 100%" class="mr-2" />
                <h5 style="font-weight: bold">Alim</h5>
                <h6 class="card-subtitle mb-2 text-muted">@asian21</h6>
                <br />
                <p class="card-text">
                  Saya sudah menjadi pelanggan setia salon ini selama beberapa tahun, dan saya senang sekali dengan kualitas layanan yang diterima. Stafnya sangat profesional dan selalu siap untuk memberikan saran yang baik dan mencoba tren
                  terbaru.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-12 footer-divider d-flex justify-content-center">
            <p class="text-divider-footer">&copy; 2023 by Ryo Nicholas Reinaldo</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- aosjs -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- aos initialize -->
    <script>
      AOS.init();
    </script>
  </body>
</html>
